body {
  font-family: "Roboto", Arial, sans-serif;
  color: #2e2f42;
}

header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  width: 1140px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  width: 115px;
  margin: 0 auto;
  justify-content: flex-start;
}

.span {
  color: #2e2f42;
}

.logo:hover {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  position: relative;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  border-right: 10px solid transparent;
}

.nav-link:hover {
  color: #4d5ae5;
}

.contacts {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-item {
 font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link {
  color: #434455;
  text-decoration: none;
}

.contacts-link:hover {
  color: #4d5ae5;
}

.hero {
  width: 1440px;
  height: 600px;
  display: flex;
  margin: 0 auto;
  background: #2e2f42;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 496px;
  height: 120px;
}

.hero-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.features {
  width: 1440px;
  margin: 0 auto;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.features-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  width: 264px;
  margin: 0 auto;
}

.features-title {
 font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  width: 1440px;
  margin: 0 auto;
  padding: 120px 0;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 72px 0;
  margin: 0;
}

.team-img {
  width: 264px;
  margin: 0 auto;
  position: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}



body {
  font-family: "Roboto", Arial, sans-serif;
  color: #2e2f42;
}


.container {
  width: 1128px;
  margin: 0 auto;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1128px;
  justify-content: flex-start;
}

.portfolio-item {
  width: 360px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.site-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  width: 115px;
  margin: 0 auto;
  justify-content: flex-start;
}

.span-footer{
  color: #fff;
}

.logo-footer:hover {
  color: #fff
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}